*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
}

.container{

    /* spacing requirement */
    margin-left:25vw;
    margin-right:25vw;
    margin-top:10vh;
    margin-bottom:10vh;

    text-align:center;
}

/* image styling */
img{
    width:100%;
    height:50vh;
    object-fit:cover;
}

/* button styling */
button{

    padding:1.5vh 3vw;
    font-size:2vh;

    border:none;
    border-radius:1vh;

    color:white;

    background:linear-gradient(to right,#ff7e5f,#feb47b);

    cursor:pointer;
}